body {
    margin: 40px 80px;
}

.colors, .fonts{
    margin: 17px;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
}

.colors h1, .fonts h1{
    text-indent: 4.3%;
}

.colors ul, .fonts ul{
    margin: 0px auto;
    padding: 50px;
}

.colors ul li{
    margin: 10px 27px;
    display: inline-block;
    width: 350px;
    height: 250px;
    border-top-left-radius: 45%;
    border-top-right-radius: 1.5%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 25%;
}

.colors ul li h4 {
    font-weight: 550;
    text-align: center;
    vertical-align: middle;
}

.colors ul li h6 {
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

#Orange {
    background-color: rgb(253, 146, 7);
}

#Blue {
    background-color: rgb(20, 55, 87);
    color: rgb(189, 189, 189);
}

#DOrange {
    background-color: rgb(196, 91, 21);
}

#Red {
    background-color: rgb(180, 1, 1);
    color: rgb(189, 189, 189);
}

/* Fonts */
.WS h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

.WS h4, .NSJ h4, .QS h4{
    font-size: medium;
}

.WS #bold {
    font-family: "Work Sans", sans-serif;
    font-weight: bolder;
}

#italic {
    font-style: italic;
}

.NSJ h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    text-decoration: underline;

}

.NSJ #bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bolder;
}

.QS h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

.QS #bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bolder;
}

.fonts #font li {
    margin: 20px;
    display: inline-block;
    position: relative;
    bottom: 80px;
}